{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>课程活动</h1>
    </div>
</div>
<div class="container">
    <h2>正在进行的练习</h2>
    {% if actives %}
    <table class="table">
        <thead>
            <tr>
                <th>用户</th>
                <th>题目</th>
                <th>运行时长</th>
            </tr>
        </thead>
        <tbody>
            {% for active in actives %}
            <tr>
                <td><a href="{{ generate_account_url(active.user.id, admin=True) }}">{{ active.user.name }}</a></td>
                <td>{{ active.challenge.module.name }} - {{ active.challenge.name}}</td>
                <td>{{ active.uptime.days }} 天 {{ active.uptime.seconds // 3600 }} 小时 {{ (active.uptime.seconds // 60) % 60 }} 分钟</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>当前没有正在进行的练习。</p>
    {% endif %}
</div>
{% endblock %}
