{% extends "base.html" %}

{% block legacy_runtime %}{% endblock %}
{% block entrypoint %}{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>重置密码</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      {% include "components/errors.html" %}

      {% if mode == "set" %}
        {% with form = Forms.auth.ResetPasswordForm() %}
        <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
          <p>请输入新密码，然后即可使用该密码登录。</p>
          <div class="form-group">
            <label for="{{ form.password.id }}">新密码</label>
            {{ form.password(class="form-control", placeholder="新密码") }}
          </div>
          <div class="row">
            <div class="col-md-6 offset-md-6">
              {{ form.submit(class="btn btn-md btn-primary float-right", value="保存新密码") }}
            </div>
          </div>
          {{ form.nonce() }}
        </form>
        {% endwith %}
      {% else %}
        {% with form = Forms.auth.ResetPasswordRequestForm() %}
        <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
          <p>请输入与账号关联的电子邮箱。若该地址可用，系统会发送重置密码说明。</p>
          <div class="form-group">
            <label for="{{ form.email.id }}">电子邮箱</label>
            {{ form.email(class="form-control", placeholder="电子邮箱") }}
          </div>
          <div class="row">
            <div class="col-md-6 offset-md-6">
              {{ form.submit(class="btn btn-md btn-primary float-right", value="发送重置说明") }}
            </div>
          </div>
          {{ form.nonce() }}
        </form>
        {% endwith %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
